.openButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
  cursor: pointer;
}

.transparent {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: black;
  opacity: 0.08;
}

.chevron {
  width: 55px;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  background-color: black;
  transform: translateX(-100%);
  transition: 300ms;
}

.sideNavOpen {
  transform: translateX(0);
}

.link {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}
