.container {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

.heading {
  margin-bottom: 30px;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  column-gap: 30px;
  row-gap: 30px;
}
