.container {
  min-height: 100vh;
  display: flex;
  background-image: url("/images/abai.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 40%;
  margin-top: 10vh;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 0;
  font-size: 140px;
}

.description {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}
