.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/images/abai.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  margin-left: 20%;
  font-size: 140px;
}
